.button{
    -fx-font-size: 18;
    -fx-font-weight: Bold;
    -fx-font-family: "Montserrat";
    -fx-background-color: transparent ;
    -fx-border-width: 1.5;
    -fx-border-radius: 30;
    -fx-border-color: linear-gradient(to bottom, #5ed3f7ff, #1763c6ff);

    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-pref-width: 400px;
    -fx-pref-height: 50px;

}


.button:hover{
    -fx-background-color:linear-gradient(to bottom, #5ed3f7ff, #1763c6ff);
}
